.App {
  text-align: center;
  background: radial-gradient(circle, #51acda, #1d76a5);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}




input {

  width: 400px;

  margin-left: 10vw;
  margin-right: 10vw;
  
  font-size: x-large;
  text-align: center;


}


button {
  border: 4px solid #ffffff; 
  background-color: rgba(0, 0, 0, 0);
  
  color: white; 
  padding: 10px 20px; 
  border-radius: 50px; 
  font-size: larger; 
  cursor: pointer; 
  transition: border-width 0.3s ease; /* Smooth transition for border thickness */
}

button:hover {
  border-width: 8px; /* Thicker border on hover */
}

.App-header {
  margin-top: 60px;

  outline: black;


  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
